:root {
  color: var(--color-text-primary);
  background-color: var(--color-background);
  font-family: var(--font-family-base);
  font-synthesis: none;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--color-text-primary);
  font-size: var(--font-size-md);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

p {
  color: var(--color-text-secondary);
}
